@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div>
    <p>
       <img src="~/images/contoso.jpg" style="padding-right: 34px;"/>
       <img src="~/images/university.jpg" style="padding-right: 34px;" />
       <img src="~/images/backpacks.jpg" />
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University was founded in 1898 in the great Swan Valley. Contoso has become a premiere undergraduate research institution 
            known throughout the world for its intellectual and technological leadership.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            It's our mission to provide higher education throughout Swan Valley. We are committed to engaging students by offering award-winning professors, nationally ranked programs, and
            real-world experience.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>A Place of Fun</h2>
        <p>College is more than studying and grades. Contoso University offers multiple ways to get involved, stay fit, and enjoy the great outdoors. It's not required, just highly recommended.</p>
       
    </div>
</div>
